
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-size: x-small;
}

:root {
    --gutter-2: 2px;
}

h1 {
    font-size: 16px;
}

[class^="col"] {
    margin: 1px 0;
}

.card {
    width: 100%;
    background-color: cornflowerblue;
    color: white;
    text-align: center;
    line-height: 30px;
    height: 30px;
}

.row .nested {
    background-color: cornflowerblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.for-nest {
    padding: 5px;
}

.nested .card {
    width: 100%;
    background-color: lightgreen;
    line-height: 20px;
    height: 20px;
    border: 1px solid cornflowerblue;
}

.row [class*="offset"] {
    padding: 0;
}

/********* 
ROWS & CONTAINERS
*********/

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--gutter-2)/2*(-1));
    margin-right: calc(var(--gutter-2)/2*(-1));
    margin-bottom: 30px;
}

.row>* {
    padding: 0 calc(var(--gutter-2)/2)
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 calc(var(--gutter-2)/2);
}

.no-margin {
    margin-bottom: 0;
}

/********* 
COLUMNS
*********/

/* XS SCREEN */

.col-xs-1 {
    flex-basis: calc(100%/12);
    max-width: calc(100%/12);
}

.col-xs-2 {
    flex-basis: calc(100%*2/12);
    max-width: calc(100%*2/12);
}

.col-xs-3 {
    flex-basis: calc(100%*3/12);
    max-width: calc(100%*3/12);
}

.col-xs-4 {
    flex-basis: calc(100%*4/12);
    max-width: calc(100%*4/12);
}

.col-xs-5 {
    flex-basis: calc(100%*5/12);
    max-width: calc(100%*5/12);
}

.col-xs-6 {
    flex-basis: calc(100%*6/12);
    max-width: calc(100%*6/12);
}

.col-xs-7 {
    flex-basis: calc(100%*7/12);
    max-width: calc(100%*7/12);
}

.col-xs-8 {
    flex-basis: calc(100%*8/12);
    max-width: calc(100%*8/12);
}

.col-xs-9 {
    flex-basis: calc(100%*9/12);
    max-width: calc(100%*9/12);
}

.col-xs-10 {
    flex-basis: calc(100%*10/12);
    max-width: calc(100%*10/12);
}

.col-xs-11 {
    flex-basis: calc(100%*11/12);
    max-width: calc(100%*11/12);
}

.col-xs-12 {
    flex-basis: calc(100%*12/12);
    max-width: calc(100%*12/12);
}

/* XS SCREEN OFFSET*/

.col-xs-offset-1 {
    margin-left: calc(100%/12);
}

.col-xs-offset-2 {
    margin-left: calc(100%*2/12);
}

.col-xs-offset-3 {
    margin-left: calc(100%*3/12);
}

.col-xs-offset-4 {
    margin-left: calc(100%*4/12);
}

.col-xs-offset-5 {
    margin-left: calc(100%*5/12);
}

.col-xs-offset-6 {
    margin-left: calc(100%*6/12);
}

.col-xs-offset-7 {
    margin-left: calc(100%*7/12);
}

.col-xs-offset-8 {
    margin-left: calc(100%*8/12);
}

.col-xs-offset-9 {
    margin-left: calc(100%*9/12);
}

.col-xs-offset-10 {
    margin-left: calc(100%*10/12);
}

.col-xs-offset-11 {
    margin-left: calc(100%*11/12);
}

.col-xs-offset-12 {
    margin-left: calc(100%*12/12);
}

/* SM SCREEN */

@media all and (min-width: 576px) {
    .col-sm-1 {
        flex-basis: calc(100%/12);
        max-width: calc(100%/12);
    }

    .col-sm-2 {
        flex-basis: calc(100%*2/12);
        max-width: calc(100%*2/12);
    }

    .col-sm-3 {
        flex-basis: calc(100%*3/12);
        max-width: calc(100%*3/12);
    }

    .col-sm-4 {
        flex-basis: calc(100%*4/12);
        max-width: calc(100%*4/12);
    }

    .col-sm-5 {
        flex-basis: calc(100%*5/12);
        max-width: calc(100%*5/12);
    }

    .col-sm-6 {
        flex-basis: calc(100%*6/12);
        max-width: calc(100%*6/12);
    }

    .col-sm-7 {
        flex-basis: calc(100%*7/12);
        max-width: calc(100%*7/12);
    }

    .col-sm-8 {
        flex-basis: calc(100%*8/12);
        max-width: calc(100%*8/12);
    }

    .col-sm-9 {
        flex-basis: calc(100%*9/12);
        max-width: calc(100%*9/12);
    }

    .col-sm-10 {
        flex-basis: calc(100%*10/12);
        max-width: calc(100%*10/12);
    }

    .col-sm-11 {
        flex-basis: calc(100%*11/12);
        max-width: calc(100%*11/12);
    }

    .col-sm-12 {
        flex-basis: calc(100%*12/12);
        max-width: calc(100%*12/12);
    }
}

/* SM SCREEN OFFSET*/

@media all and (min-width: 576px) {
    .col-sm-offset-1 {
        margin-left: calc(100%/12);
    }

    .col-sm-offset-2 {
        margin-left: calc(100%*2/12);
    }

    .col-sm-offset-3 {
        margin-left: calc(100%*3/12);
    }

    .col-sm-offset-4 {
        margin-left: calc(100%*4/12);
    }

    .col-sm-offset-5 {
        margin-left: calc(100%*5/12);
    }

    .col-sm-offset-6 {
        margin-left: calc(100%*6/12);
    }

    .col-sm-offset-7 {
        margin-left: calc(100%*7/12);
    }

    .col-sm-offset-8 {
        margin-left: calc(100%*8/12);
    }

    .col-sm-offset-9 {
        margin-left: calc(100%*9/12);
    }

    .col-sm-offset-10 {
        margin-left: calc(100%*10/12);
    }

    .col-sm-offset-11 {
        margin-left: calc(100%*11/12);
    }

    .col-sm-offset-12 {
        margin-left: calc(100%*12/12);
    }
}

/* MD SCREEN */

@media all and (min-width: 769px) {
    .col-md-1 {
        flex-basis: calc(100%/12);
        max-width: calc(100%/12);
    }

    .col-md-2 {
        flex-basis: calc(100%*2/12);
        max-width: calc(100%*2/12);
    }

    .col-md-3 {
        flex-basis: calc(100%*3/12);
        max-width: calc(100%*3/12);
    }

    .col-md-4 {
        flex-basis: calc(100%*4/12);
        max-width: calc(100%*4/12);
    }

    .col-md-5 {
        flex-basis: calc(100%*5/12);
        max-width: calc(100%*5/12);
    }

    .col-md-6 {
        flex-basis: calc(100%*6/12);
        max-width: calc(100%*6/12);
    }

    .col-md-7 {
        flex-basis: calc(100%*7/12);
        max-width: calc(100%*7/12);
    }

    .col-md-8 {
        flex-basis: calc(100%*8/12);
        max-width: calc(100%*8/12);
    }

    .col-md-9 {
        flex-basis: calc(100%*9/12);
        max-width: calc(100%*9/12);
    }

    .col-md-10 {
        flex-basis: calc(100%*10/12);
        max-width: calc(100%*10/12);
    }

    .col-md-11 {
        flex-basis: calc(100%*11/12);
        max-width: calc(100%*11/12);
    }

    .col-md-12 {
        flex-basis: calc(100%*12/12);
        max-width: calc(100%*12/12);
    }
}

/* MD SCREEN OFFSET*/

@media all and (min-width: 769px) {
    .col-md-offset-1 {
        margin-left: calc(100%/12);
    }

    .col-md-offset-2 {
        margin-left: calc(100%*2/12);
    }

    .col-md-offset-3 {
        margin-left: calc(100%*3/12);
    }

    .col-md-offset-4 {
        margin-left: calc(100%*4/12);
    }

    .col-md-offset-5 {
        margin-left: calc(100%*5/12);
    }

    .col-md-offset-6 {
        margin-left: calc(100%*6/12);
    }

    .col-md-offset-7 {
        margin-left: calc(100%*7/12);
    }

    .col-md-offset-8 {
        margin-left: calc(100%*8/12);
    }

    .col-md-offset-9 {
        margin-left: calc(100%*9/12);
    }

    .col-md-offset-10 {
        margin-left: calc(100%*10/12);
    }

    .col-md-offset-11 {
        margin-left: calc(100%*11/12);
    }

    .col-md-offset-12 {
        margin-left: calc(100%*12/12);
    }
}

/* LG SCREEN */

@media all and (min-width: 992px) {
    .col-lg-1 {
        flex-basis: calc(100%/12);
        max-width: calc(100%/12);
    }

    .col-lg-2 {
        flex-basis: calc(100%*2/12);
        max-width: calc(100%*2/12);
    }

    .col-lg-3 {
        flex-basis: calc(100%*3/12);
        max-width: calc(100%*3/12);
    }

    .col-lg-4 {
        flex-basis: calc(100%*4/12);
        max-width: calc(100%*4/12);
    }

    .col-lg-5 {
        flex-basis: calc(100%*5/12);
        max-width: calc(100%*5/12);
    }

    .col-lg-6 {
        flex-basis: calc(100%*6/12);
        max-width: calc(100%*6/12);
    }

    .col-lg-7 {
        flex-basis: calc(100%*7/12);
        max-width: calc(100%*7/12);
    }

    .col-lg-8 {
        flex-basis: calc(100%*8/12);
        max-width: calc(100%*8/12);
    }

    .col-lg-9 {
        flex-basis: calc(100%*9/12);
        max-width: calc(100%*9/12);
    }

    .col-lg-10 {
        flex-basis: calc(100%*10/12);
        max-width: calc(100%*10/12);
    }

    .col-lg-11 {
        flex-basis: calc(100%*11/12);
        max-width: calc(100%*11/12);
    }

    .col-lg-12 {
        flex-basis: calc(100%*12/12);
        max-width: calc(100%*12/12);
    }
}

/* LG SCREEN OFFSET*/

@media all and (min-width: 992px) {
    .col-lg-offset-1 {
        margin-left: calc(100%/12);
    }

    .col-lg-offset-2 {
        margin-left: calc(100%*2/12);
    }

    .col-lg-offset-3 {
        margin-left: calc(100%*3/12);
    }

    .col-lg-offset-4 {
        margin-left: calc(100%*4/12);
    }

    .col-lg-offset-5 {
        margin-left: calc(100%*5/12);
    }

    .col-lg-offset-6 {
        margin-left: calc(100%*6/12);
    }

    .col-lg-offset-7 {
        margin-left: calc(100%*7/12);
    }

    .col-lg-offset-8 {
        margin-left: calc(100%*8/12);
    }

    .col-lg-offset-9 {
        margin-left: calc(100%*9/12);
    }

    .col-lg-offset-10 {
        margin-left: calc(100%*10/12);
    }

    .col-lg-offset-11 {
        margin-left: calc(100%*11/12);
    }

    .col-lg-offset-12 {
        margin-left: calc(100%*12/12);
    }
}